<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Page</title>
  </head>
  <body>
    <ol><a href="/"></a>Return</ol>
    @<h1>Model.FriendPerson</h1>@
    @<h2>Model.FriendAddress</h2>@
    @<h2>Model.FriendNumber</h2>@
    <ol>
      <a href="/contact/new_contact"></a>
    </ol>
  </body>
</html>
